*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#page1{
background-color: antiquewhite;
height: 90%;
width: 100%;
}
.categoryheading{
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
}
.Birthdaygallery{
    margin-top: 20px;
    margin-left: 350px;
    display: inline-block;
    border: solid;
}
.details{
    border-top: solid;
}
#page2{
    height: 50%;
    width: 100%;
    background-color: antiquewhite;
}